<% provide(:title, 'Home') %>
<h1>Welcome!</h1>
<p>
   This is the home page for my
   <%= link_to "Ruby on Rails Tutorial", "http://railstutorial.org"  %>
</p>

<p>
Why don't we just give everybody a promotion and call it a night - 'Commander'? When has justice ever been as simple as a rule book? Computer, lights up! Wouldn't that bring about chaos? But the probability of making a six is no greater than that of rolling a seven. Could someone survive inside a transporter buffer for 75 years? 
</p>
<p>
Mr. Worf, you do remember how to fire phasers? A surprise party? Mr. Worf, I hate surprise parties. I would *never* do that to you. We know you're dealing in stolen ore. But I wanna talk about the assassination attempt on Lieutenant Worf. This should be interesting. Computer, belay that order
</p>
