<div class="center hero-unit">
  <h1>Welcome!</h1>
  <h2>
    This is the home page for my
    <%= link_to "Ruby on Rails Tutorial", "http://railstutorial.org"  %>
  </h2>

  <%= link_to image_tag("otter.jpg", alt: "rails", size: "200x240", class: "img-circle"), signup_path %>
  <br />
  <br />
  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>
